{% extends "layout.html" %}

{% block content%}
<div>
    <form action="/apps/create" enctype=multipart/form-data method=POST>
        <h3 for="name">Application Name</h3>
        
        <div><h5>Input Application Name: </h5><input type="text" name="name"></div>
        <fieldset id = "list_features" class="scheduler-border">
                <legend class="scheduler-border">Feature list</legend>
            <input type="button" class="btn btn-primary btn-sm" value="Add new feature" onclick = "add_feature()">
            <br>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Rule list</legend> 
            <input type="checkbox" name="rules" value="top_rule">  Top rule<br/>
            <input type="checkbox" name="rules" value="bot_rule">  Bottom rule<br/>
            <input type="checkbox" name="rules" value="split_rule">  Split in two
        </fieldset>
        Language <select name="lang" id="lang">
            <option value="vie" selected>Vietnamese</option>
            <option value="eng">English</option>
        </select>
        <br>

        <br>
        <input type="submit" value="Add" class="btn btn-primary btn-sm">
    </form>    
</div>
{% endblock %}
