{% extends "layout.html" %}

{% block content %}
<div>
    <h3>{{model.app_name}}</h3>
    <form action="/getbyform" enctype=multipart/form-data method=POST>
        <fieldset class="scheduler-border" id = "list_features">
            <legend class="scheduler-border">Feature list</legend>
            <input type="button" class="btn btn-primary btn-sm" value="Add new feature" onclick = "add_feature()" style="margin-bottom: 10px">
            <br>
            {% for fea in model.features %}
                <input style = "display: block;" type="text" name="features" id = "features" value = "{{fea}}">
            {% endfor %}
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Rule list</legend> 
            <input type="checkbox" name="rules" value="top_rule" {{model.top_rule}}>  Top rule<br/>
            <input type="checkbox" name="rules" value="bot_rule" {{model.bot_rule}}>  Bottom rule<br/>
            <input type="checkbox" name="rules" value="split_rule" {{model.split_rule}}>  Split in two
        </fieldset>
        Language <select name="lang" id="lang" >
            <option value="vie" selected>Vietnamese</option>
            <option value="eng">English</option>
        </select>
        <br>
        <br>
        <input type=file name="file">
       
        <br>
        <input type="submit" value="Get result" class="btn btn-primary btn-sm">
    </form>
</div>

{% endblock %}